body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #111;
    color: white;
    text-align: center;
}

h1 {
    margin-top: 20px;
}

#game-container {
    width: 800px;
    height: 450px;
    border: 2px solid white;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #000;
}

#statusText {
    font-size: 18px;
}

#gus {
    transition: 0.1s;
    width: 40px;
    height: 40px;
    background-color: white;
    position: absolute;
}