body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-size: auto;
    background-repeat: repeat-x;
    background-position: 0 0;
    text-align: center;


}

h1 {
    margin-top: 20px;
}



#statusText {
    font-size: 18px;
}

#game-container {
    width: 100%;
    max-width: 1500px;
    height: 600px;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
    background-image: url(./assets/fondo.game.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-color: black;
    transition: none;
}



#gus {
    outline: 1px solid red;
    position: absolute;
    transition: none;
    width: 80px;
    height: 80px;
    background-image: url(./assets/assets.gus2..png);
    background-size: 80px 80px;
    background-position: center;
    background-repeat: no-repeat;
}

.gus.right {
    transform: scaleX(1);
}

.gus.left {
    transform: scaleX(-1);
}

.treat {

    height: 30px;
    width: 30px;
    position: absolute;
    background-color: rgb(228, 232, 31);
    border-radius: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.treat--normal {
    background-color: #ffcc00;
    background-image: url(./assets/961c0vj8vp331.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.treat--bonus {
    background-color: #00c8ff;
}

.treat--fast {
    background-color: #ff66aa;
}


#enemy {
    position: absolute;
    background-color: rgb(240, 11, 11);
    border-radius: 30%;
    border-color: aliceblue;
    height: 30px;
    width: 30px;
}